.layanan-water-heater-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.layanan-water-heater-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.layanan-water-heater-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.layanan-water-heater-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.layanan-water-heater-image {
  width: 150px;
  object-fit: cover;
}
.layanan-water-heater-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.layanan-water-heater-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.layanan-water-heater-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.layanan-water-heater-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.layanan-water-heater-link03 {
  text-decoration: none;
}
.layanan-water-heater-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.layanan-water-heater-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.layanan-water-heater-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.layanan-water-heater-icon {
  width: 36px;
  height: 36px;
}
.layanan-water-heater-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.layanan-water-heater-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.layanan-water-heater-image1 {
  width: 50px;
  object-fit: cover;
}
.layanan-water-heater-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.layanan-water-heater-icon02 {
  width: 24px;
  height: 24px;
}
.layanan-water-heater-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.layanan-water-heater-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.layanan-water-heater-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layanan-water-heater-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layanan-water-heater-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.layanan-water-heater-link07 {
  text-decoration: none;
}
.layanan-water-heater-cta-btn1 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.layanan-water-heater-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.layanan-water-heater-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.layanan-water-heater-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-icon08 {
  width: 24px;
  height: 24px;
}
.layanan-water-heater-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.layanan-water-heater-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.layanan-water-heater-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.layanan-water-heater-link08 {
  color: var(--dl-color-primary-100);
}
.layanan-water-heater-text01 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.layanan-water-heater-cta-btn2 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.layanan-water-heater-image2 {
  width: 50%;
  object-fit: contain;
}
.layanan-water-heater-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.layanan-water-heater-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
}
.layanan-water-heater-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.layanan-water-heater-text02 {
  font-size: 48px;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.layanan-water-heater-link09 {
  color: var(--dl-color-primary-100);
}
.layanan-water-heater-text04 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.layanan-water-heater-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.layanan-water-heater-feature-card {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-image3 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.layanan-water-heater-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.layanan-water-heater-text05 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.layanan-water-heater-feature-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-image4 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.layanan-water-heater-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.layanan-water-heater-text06 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.layanan-water-heater-feature-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-image5 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.layanan-water-heater-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.layanan-water-heater-text07 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.layanan-water-heater-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.layanan-water-heater-service-card {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.layanan-water-heater-card-content {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layanan-water-heater-text08 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-text09 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-button {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.layanan-water-heater-service-card1 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.layanan-water-heater-card-content1 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layanan-water-heater-text10 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-text11 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-button1 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.layanan-water-heater-service-card2 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.layanan-water-heater-card-content2 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layanan-water-heater-text12 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-text13 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-button2 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.layanan-water-heater-service-card3 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.layanan-water-heater-card-content3 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layanan-water-heater-text14 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-text15 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.layanan-water-heater-button3 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.layanan-water-heater-about-us {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.layanan-water-heater-heading-container1 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.layanan-water-heater-text16 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.layanan-water-heater-secondary-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.layanan-water-heater-cta-btn3 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: flex-start;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.layanan-water-heater-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.layanan-water-heater-text18 {
  color: var(--dl-color-gray-500);
}
.layanan-water-heater-text19 {
  color: var(--dl-color-gray-500);
}
.layanan-water-heater-cta-btn4 {
  color: var(--dl-color-gray-white);
  width: 80%;
  display: none;
  align-self: flex-start;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
.layanan-water-heater-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.layanan-water-heater-testimonials {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.layanan-water-heater-text20 {
  margin-bottom: var(--dl-space-space-fiveunits);
}
.layanan-water-heater-cards-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.layanan-water-heater-testimonial-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-card-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.layanan-water-heater-name-and-position {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.layanan-water-heater-position {
  color: var(--dl-color-gray-700);
}
.layanan-water-heater-stars-container {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.layanan-water-heater-icon10 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon12 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon14 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon16 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon18 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.layanan-water-heater-text21 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.layanan-water-heater-testimonial-card1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-card-heading1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.layanan-water-heater-name-and-position1 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.layanan-water-heater-position1 {
  color: var(--dl-color-gray-700);
}
.layanan-water-heater-stars-container1 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.layanan-water-heater-icon20 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon22 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon24 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon26 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon28 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.layanan-water-heater-text22 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.layanan-water-heater-testimonial-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-card-heading2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.layanan-water-heater-name-and-position2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.layanan-water-heater-position2 {
  color: var(--dl-color-gray-700);
}
.layanan-water-heater-stars-container2 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
.layanan-water-heater-icon30 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon32 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon34 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon36 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.layanan-water-heater-icon38 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.layanan-water-heater-text23 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
.layanan-water-heater-contact {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.layanan-water-heater-content-container {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.layanan-water-heater-text24 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.layanan-water-heater-locations-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.layanan-water-heater-location-1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.layanan-water-heater-heading4 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.layanan-water-heater-icon40 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.layanan-water-heater-icon42 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.layanan-water-heater-icon44 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.layanan-water-heater-link11 {
  text-decoration: none;
}
.layanan-water-heater-social-links-container1 {
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.layanan-water-heater-link12 {
  text-decoration: none;
}
.layanan-water-heater-image6 {
  width: 50%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .layanan-water-heater-image {
    width: 150px;
  }
  .layanan-water-heater-hero {
    flex-direction: column-reverse;
  }
  .layanan-water-heater-hero-text-container {
    width: 80%;
    margin-left: 0px;
  }
  .layanan-water-heater-link08 {
    color: var(--dl-color-primary-100);
    text-decoration: underline;
  }
  .layanan-water-heater-cta-btn2 {
    width: 40%;
  }
  .layanan-water-heater-image2 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-text02 {
    font-size: 48px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .layanan-water-heater-link09 {
    color: var(--dl-color-primary-100);
  }
  .layanan-water-heater-feature-card {
    align-self: center;
  }
  .layanan-water-heater-about-us {
    flex-direction: column;
  }
  .layanan-water-heater-heading-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-text16 {
    text-transform: none;
  }
  .layanan-water-heater-link10 {
    color: var(--dl-color-primary-100);
  }
  .layanan-water-heater-cta-btn3 {
    width: 40%;
    display: none;
  }
  .layanan-water-heater-text-container {
    width: 100%;
  }
  .layanan-water-heater-cta-btn4 {
    width: 280px;
    display: block;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .layanan-water-heater-locations-container {
    flex-wrap: wrap;
  }
  .layanan-water-heater-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-icon42 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .layanan-water-heater-link11 {
    text-decoration: underline;
  }
  .layanan-water-heater-link12 {
    color: var(--dl-color-gray-500);
  }
  .layanan-water-heater-image6 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .layanan-water-heater-links-container {
    display: none;
  }
  .layanan-water-heater-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .layanan-water-heater-icon {
    fill: var(--dl-color-gray-white);
  }
  .layanan-water-heater-heading {
    text-align: center;
  }
  .layanan-water-heater-link08 {
    color: var(--dl-color-primary-100);
  }
  .layanan-water-heater-text01 {
    text-align: center;
  }
  .layanan-water-heater-cta-btn2 {
    width: auto;
    align-self: center;
  }
  .layanan-water-heater-heading-container {
    width: 100%;
  }
  .layanan-water-heater-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .layanan-water-heater-feature-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-feature-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-feature-card2 {
    width: 70%;
  }
  .layanan-water-heater-card-content {
    margin: 0px;
  }
  .layanan-water-heater-card-content1 {
    margin: 0px;
  }
  .layanan-water-heater-card-content2 {
    margin: 0px;
  }
  .layanan-water-heater-card-content3 {
    margin: 0px;
  }
  .layanan-water-heater-about-us {
    align-items: center;
  }
  .layanan-water-heater-heading-container1 {
    align-items: center;
  }
  .layanan-water-heater-text16 {
    text-align: center;
  }
  .layanan-water-heater-secondary-text {
    text-align: center;
  }
  .layanan-water-heater-text20 {
    text-align: center;
  }
  .layanan-water-heater-cards-container1 {
    align-items: center;
    flex-direction: column;
  }
  .layanan-water-heater-testimonial-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-stars-container {
    justify-content: flex-end;
  }
  .layanan-water-heater-testimonial-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-stars-container1 {
    justify-content: flex-end;
  }
  .layanan-water-heater-testimonial-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .layanan-water-heater-stars-container2 {
    justify-content: flex-end;
  }
  .layanan-water-heater-contact {
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .layanan-water-heater-content-container {
    width: 100%;
  }
  .layanan-water-heater-icon42 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .layanan-water-heater-image6 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .layanan-water-heater-image {
    width: 120px;
  }
  .layanan-water-heater-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .layanan-water-heater-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .layanan-water-heater-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .layanan-water-heater-hero-text-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .layanan-water-heater-image2 {
    width: 100%;
  }
  .layanan-water-heater-feature-card {
    width: 100%;
  }
  .layanan-water-heater-feature-card1 {
    width: 100%;
  }
  .layanan-water-heater-feature-card2 {
    width: 100%;
  }
  .layanan-water-heater-service-card {
    width: 100%;
  }
  .layanan-water-heater-service-card1 {
    width: 100%;
  }
  .layanan-water-heater-service-card2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .layanan-water-heater-service-card3 {
    width: 100%;
  }
  .layanan-water-heater-secondary-text {
    text-align: center;
  }
  .layanan-water-heater-text20 {
    text-align: center;
  }
  .layanan-water-heater-testimonial-card {
    width: 100%;
  }
  .layanan-water-heater-testimonial-card1 {
    width: 100%;
  }
  .layanan-water-heater-testimonial-card2 {
    width: 100%;
  }
  .layanan-water-heater-content-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .layanan-water-heater-text24 {
    text-align: center;
  }
  .layanan-water-heater-locations-container {
    margin-bottom: 0px;
  }
  .layanan-water-heater-location-1 {
    margin-right: 158px;
  }
  .layanan-water-heater-heading4 {
    font-size: 24px;
  }
  .layanan-water-heater-social-links-container1 {
    align-self: center;
  }
}
